<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="header69_component"><div class="text-align-center"><div class="max-width-large align-center"><div class="margin-bottom margin-small"><h1 class="heading-style-h1 text-color-alternate">
{{ section.settings.text_header }}
</h1>
</div><p class="text-size-medium">
{{ section.settings.text_description }}
</p>
</div></div></div></div></div></div><div class="header69_background-image-wrapper"><div class="image-overlay-layer"></div><img loading="eager" alt="{{ section.settings.image_background_image.alt }}" src="{{ section.settings.image_background_image | img_url: 'master' }}" class="header69_background-image">
</div> {% schema %} {"tag":"header","name":"Short Header","class":"section_header69 text-color-alternate","settings":[{"id":"text_header","type":"text","label":"Header","default":"Short heading here"},{"id":"text_description","type":"text","label":"Description","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. "},{"id":"image_background_image","type":"image_picker","label":"Background Image"}],"presets":[{"name":"Short Header","category":"Liquify","blocks":[]}]} {% endschema %}